@media all and (min-width: 480px) {
}
    .container.dashboard {
      /* border-top: 1px solid #cfcfcf; */
      margin-top: 40px;
      margin-bottom: 40px;

      text-align: left;
    }

  .container {
    margin: 8px;
  }

  .table td.central,
  .table th.central {
    text-align: center;   
 }