body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}
.dropdown-item .nav-link {
  /* display: block; */
  padding: 0;
  cursor: pointer;
}

.dropdown-item {
  font-size: 14px;
}

.btn {
  padding: 7px 16px;
  font-size: 14px;
}

.Select-control {
  border-radius: 0;
}

.navbar {
  border-top: 2px solid red;
  border-bottom: 1px solid #cdcd;
  padding: 0;
}

.nav-item {
  cursor: pointer;
}

.tab-content {
  padding: 20px;

  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.help-block {
  color: red;
}

.pagination {
  float: right;
}