body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.jumbotron {
  background-color: #F8F9F9;
}

flixbus-color {
  color: #73d700;
}
.flixbus-bg {
  background-color: #73d700;
  color: white;
}
.dropdown-item .nav-link {
  /* display: block; */
  padding: 0;
  cursor: pointer;
}

.dropdown-item {
  font-size: 14px;
}

.btn {
  padding: 7px 16px;
  font-size: 14px;
}

.Select-control {
  border-radius: 0;
}

.navbar {
  border-top: 2px solid #73d700;
  border-bottom: 1px solid #cdcd;
  padding: 0;
}

.nav-item {
  cursor: pointer;
}

.tab-content {
  padding: 20px;

  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.help-block {
  color: red;
}

.pagination {
  float: right;
}

@media (max-width: 575.98px) {
  .navbar-expand-sm>.container, .navbar-expand-sm>.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}